#main-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

#left {
  width: 60%;
}

#gameplay {
  width: 40%;
}

div.container {
          display:inline-block;
        }
#home{
  float="left"
}
  
